// PUT CUSTOM SCSS / SASS HERE
@font-face {
	font-family:'FuturaStd-Bold';
	src: url('../fonts/FuturaStd-Bold_gdi.eot');
	src: url('../fonts/FuturaStd-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaStd-Bold_gdi.woff') format('woff'),
		url('../fonts/FuturaStd-Bold_gdi.ttf') format('truetype'),
		url('../fonts/FuturaStd-Bold_gdi.otf') format('opentype'),
		url('../fonts/FuturaStd-Bold_gdi.svg#FuturaStd-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

html{
 height:100%;
 min-height:100%;
 }
body{
 min-height:100%;
}

body{
  font-family:'FuturaStd-Bold';
  background-color: #00b6be;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.full-w{
  width: 100%;
}

.header-text{
  text-shadow: 3px 2px 0px #fff;
}

.limiter{
  max-width: 1700px;
}

.valign{
  width: 100%;
}

.r3466056248{
  @extend .btn;
  @extend .ptv-red;
}
#hidden_iframe{
  display: none;
}

#form-zone{
  z-index: 0;
  #entry{
    z-index: 999;
    position: relative;
  }
}

/* label color */
 .input-field label {
   color: #fff;
 }
 /* label focus color */
 .input-field input:not([type]):focus + label , .input-field input[type=email]:focus + label {
   color: #fff;
 }
 /* label underline focus color */
 .input-field input:not([type]):focus , .input-field input[type=email]:focus {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #fff;
 }
 /* valid color */
 .input-field input:not([type]).valid, .input-field input[type=email].valid {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #fff;
 }
 /* invalid color */
 .input-field input:not([type]).invalid , .input-field input[type=email].invalid {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #fff;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #fff;
 }

input{
  color: white;
}

input[type="email"], input:not([type]){
  border-bottom: 1px solid white;
}

input[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    background-color: white;
    z-index: 0;
}

input[type="checkbox"].filled-in:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #f4858e;
    border-bottom: 2px solid #f4858e;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

input[type="checkbox"].filled-in:not(:checked)+label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid white !important;
    top: 0px;
    z-index: 0;
}

span.error{
  display: none !important;
}

div.toast.red{
  z-index: 99999999999999999999999 !important;
  position: relative;
}

.ptv-red,
.ptv-red:hover,
.ptv-red:active,
.ptv-red:focus{
  background-color: #f4858e;
}

.ptv-red-text{
  color: #f4858e;
}

#form-zone{
  margin-bottom: 0 !important;
  margin-top: 50px;
}

.promo{
  padding: 0 !important;
  img{
    margin-bottom: -9px;
  }
}

.governor{
  max-width: 700px;
}

.divider{
  background-image: url('https://s3.amazonaws.com/myfangate.com/tonight-alive-download/divider.jpg');
  background-repeat: repeat-y;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 64px;
  width: 100%;
}

#journeys{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.bandlogo{
  margin-top: 20px;
  margin-bottom: 20px;
}

.cta{
  h5{
    margin: 0 auto !important;
  }
}

.journeys-logo{
  max-width: 600px;
  margin-top: 20px;
}

.attitude{
  max-width: 400px;
}

#header{
  margin-bottom: 0;
  background-image: url('https://s3.amazonaws.com/myfangate.com/ptv-journeys/background.jpg');
  background-size: cover;
  background-position: top center;
}

#cta{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 10px white solid;
  background-image: url('https://s3.amazonaws.com/myfangate.com/ptv-journeys/palms.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .row{
    margin-bottom: 0;
  }
}
