<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <img class="full-w bandlogo" src="https://s3.amazonaws.com/myfangate.com/tonight-alive-download/tonightalivelogo.png">
    </div>
    <div class="col s12 cta">
      <h5 class="white-text center-align">Enter your email to download</h5>
      <h5 class="white-text center-align">the new single “Drive” from Tonight Alive!</h5>
    </div>
  </div>
</div>
<div class="divider"></div>
<div id="form-zone">
  <div class="container">
    <iframe id="hidden_iframe" name="hidden_iframe"></iframe>
    <div class="row">
      <form id="entry" class="col s12 m8 offset-m2" action='https://docs.google.com/a/trendsettermarketing.net/forms/d/1l93ARkGA02Rll0B1q4GK3yk6S-A0R_D6OIzIDfkVibs/formResponse' target="hidden_iframe" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="first_name" name="entry.1506449844" type="text" readonly onfocus="this.removeAttribute('readonly');">
            <label for="first_name">Full Name</label>
          </div>
          <div class="error-box"></div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="entry.62939456" type="email" readonly onfocus="this.removeAttribute('readonly');">
            <label for="email">Email Address</label>
          </div>
          <div class="error-box"></div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="checkbox" value="I Agree To Receive Emails" name="entry.1242001824" class="filled-in" id="filled-in-box" checked="checked" />
            <label for="filled-in-box">I agree to receive emails from Pierce The Veil and Fearless Records</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 center-align">
            <button class="btn waves-effect waves-light white purple-text" type="submit" name="action">Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="download-modal" class="modal">
  <div class="modal-content">
    <h4>Your Download Is Ready!</h4>
    <p>Click the button below to download your MP3</p>
    <div id="6447551036" class="center-align"></div>
  </div>
</div>
