<div id="header" class="row">
  <div class="col s10 offset-s1 m8 offset-m2 l4 offset-l4 center-align">
    <img class="full-w governor journeys-logo" src="https://s3.amazonaws.com/myfangate.com/ptv-journeys/journeyslogo.png">
  </div>
  <div class="col s10 offset-s1 m8 offset-m2 l4 offset-l4 promo center-align">
    <img class="full-w governor" src="https://s3.amazonaws.com/myfangate.com/ptv-journeys/band.png">
  </div>
</div>
