<div id="header" class="row">
  <div class="col s12 promo center-align">
    <img class="full-w governor" src="https://s3.amazonaws.com/myfangate.com/tonight-alive-download/promo.png">
  </div>
</div>
<div id="journeys" class="container valign-wrapper">
  <div class="row valign">
    <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3 center-align">
      <img class="full-w journeys-logo" src="https://s3.amazonaws.com/myfangate.com/tonight-alive-download/journey.png">
    </div>
    <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3 center-align">
      <img class="full-w attitude" src="https://s3.amazonaws.com/myfangate.com/tonight-alive-download/attitude.png">
    </div>
  </div>
</div>
