<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title><%= current_page.data.title || "Tonight Alive - Download Drive" %></title>
<meta name="description" content="ENTER YOUR EMAIL TO DOWNLOAD THE NEW SINGLE “DRIVE” FROM TONIGHT ALIVE!" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Tonight Alive - Download Drive">
<meta itemprop="description" content="ENTER YOUR EMAIL TO DOWNLOAD THE NEW SINGLE “DRIVE” FROM TONIGHT ALIVE!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/tonight-alive-download/shareimage.jpg">

